@model IEnumerable<WebApplication25.Models.emp>

@{
    ViewData["Title"] = "empdetails";
}

<h1>empdetails</h1>
<h1>@ViewData["info"]</h1>
<h1>@ViewBag.details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edesig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edesig)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
